<html >
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="header">
  <h1>HELLO ADMIN</h1>
  
</div>

<div class="topnav">
  <a href="/schedulelist">Schedule Match</a>
  <a href="">Edit Points Table</a>
  <a href="">Edit Leaderboard</a>
  
</div>

<div class="row">
  <div class="column side">
    <h2>PLAY</h2>
    <p></p>
  </div>
  
  <div class="column middle">
    <h2>BID</h2>
    </div>
  
  <div class="column side">
    <h2>WIN</h2>
    
  </div>
</div>

<div class="footer">
  <H2>PLAY-BID-WIN</H2>
</div>
  
</body>
</html>
