
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Match Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    
  <h2>Match Details</h2>

  <ul class="list-group">
    <li class="list-group-item">Match ID <span class="badge">01</span></li>
    <li class="list-group-item">Team1 <span class="badge">Mumbai Indians</span></li>
    <li class="list-group-item">Team2 <span class="badge">Chennai Super Kings</span></li>
   <li class="list-group-item">Stadium <span class="badge">LB</span></li>
    <li class="list-group-item">Winner <span class="badge">Mumbai Indians</span></li>
    <li class="list-group-item">Status <span class="badge">Won</span></li>
    <li class="list-group-item">Time <span class="badge">7:30</span></li>
  </ul>

  <button type="button" disabled onclick="alert('Bidding Started')">Start Bidding</button>

  <div>
     <a [routerLink]='["/bidding"]' style="text-align: center;">Go to Bidding Page<b></b></a>
              </div>
            
           
         
             
             
